<!DOCTYPE html>
<html lang="en">

  <head>
    <% include ./partials/head %>
  </head>
  <body>

    <% include ./partials/header %>

    <main class="row" id="todocontainer">

      <% include ./partials/searchbar %>
      <% for(key in taskObjects){ %>
      <div class="searchresults small-4 small-centered columns">
        <ul class="listcontainer">
          <div class="namecontainer <%=taskObjects[key].searchVals.type%> <%=taskObjects[key].searchVals.userInput%>">
            <h2><%=taskObjects[key].name%></h2>
            <input type="image" src="../images/check.png" id="read">
              <div class="togglecontainer">
                <li>
                  <div class="item-content">
                    <img src="<%=taskObjects[key].img%>"/>
                    <div class="synopsis" id="scrollContainer">
                      <%=taskObjects[key].desc%>
                    </div>
                    <p class="rating"><%=taskObjects[key].rating%></p>
                    <a href="www.facebook.com" id="url">View the trailer here</a>
                    <div class="buttons">
                      <p><a href="#" class="sidebuttons nextitem">Next <i class="fi-arrow-right"></i></a>
                    </div>
                  </div>
                </li>
              </div>
            </div>
          </ul>
          <% } %>
      </div>
    </main>

    <script type="text/javascript" src="../javascript/app.js"></script>
    <script type="text/javascript" src="../vendor/jquery-2.2.3.min.js"></script>

  </body>
</html>
