<!DOCTYPE html>
<html lang="en">

  <head>
    <% include ./partials/head %>
    <link rel="stylesheet" href="/styles/searchbar.css" type="text/css" />
    <link rel="stylesheet" href="/styles/search_result.css" type="text/css" />
  </head>
  <body>

    <% include ./partials/header %>

    <main id="todocontainer">

      <% include ./partials/searchbar %>
      <% for(key in taskObjects){ %>
        <div class="searchresults">
          <ul class="listcontainer">
            <div class="namecontainer items <%=taskObjects[key].searchVals.userInput%>">
              <h2 name='item_name'><%=taskObjects[key].name%></h2>
              <input type="image" src="../images/check.png" id="item" >
              <div class="togglecontainer">
                <div class="item-content">
                  <img src="<%=taskObjects[key].img%>"/>
                  <div class="synopsis" id="scrollContainer">
                    <%=taskObjects[key].desc%>
                  </div>
                  <p class="rating"><%=taskObjects[key].rating%></p>
                  <a href="www.facebook.com" id="url">View the trailer here</a>
                  <div class="buttons">
                    <p><a href="#" class="sidebuttons" id="nextitem">Next <i class="fi-arrow-right"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </ul>
        </div>
      <% } %>
    </main>

    <script type="text/javascript" src="../scripts/search.js"></script>
    <script type="text/javascript" src="../vendor/jquery-2.2.3.min.js"></script>

  </body>
</html>
